@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Tektur:wght@600&display=swap');

/* home page */

.home {
  font-family: 'Tektur', sans-serif;
  background-image: url('background.jpg');
  background-size: 125%;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0;
  height: 100vh;
}

.heading {
  text-align: center;
  color: #FFCC01;
  text-shadow: 5px 0 #2D6AB3, -5px 0 #2D6AB3, 0 5px #2D6AB3, 0 -5px #2D6AB3, 5px 5px #2D6AB3, -5px -5px #2D6AB3, -5px 5px #2D6AB3, 5px -5px #2D6AB3;
  font-size: 100px;
  margin: 0;
  padding-top: 150px;
  padding-bottom: 60px;
  width: 100%;
  display: inline-block;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.main-buttons {
  background-color: #2D6AB3;
  color: #fff;
  font-family: 'Tektur', sans-serif;
  font-size: 24px;
  padding: 12px 24px;
  width: 25%;
  height: 70px;
  border: 5px solid #17285E;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.main-buttons:hover {
  background-color: #17285E;
}

.button-text {
display: block;
width: 100%;
text-align: center;
}

/* regions */

.tektur {
  font-family: 'Tektur', sans-serif;
}

.region_heading {
  text-align: center;
  color: #FFCC01;
  text-shadow: 5px 0 #2D6AB3, -5px 0 #2D6AB3, 0 5px #2D6AB3, 0 -5px #2D6AB3, 5px 5px #2D6AB3, -5px -5px #2D6AB3, -5px 5px #2D6AB3, 5px -5px #2D6AB3;
  font-size: 80px;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 40px;
  width: 100%;
  display: inline-block;
}

.last-button-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

.region_button {
  background-color: #2D6AB3;
  color: #fff;
  font-family: 'Tektur', sans-serif;
  font-size: 24px;
  padding: 12px 24px;
  margin-right: 5%;
  margin-left: 5%;
  width: 25%;
  height: 180px;
  border: 5px solid #17285E;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.region_button-text {
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  width: 100%;
  height: 100%;
}

.region_button:hover {
  background-color: #17285E;
}

.back-button {
  display: inline-block;
  position: relative;
  top: 20px;
  left: 20px;
  color: white;
  font-size: 30px;
}

/* region catch pages */

.pokedex-button {
  position: absolute;
  top: 20px;
  right: 20px;
  transition: transform 0.3s, filter 0.3s;
}

.pokedex-button:hover {
  transform: scale(1.2);
  filter: brightness(0.8);
}

.catch-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.catch_button {
  background-color: #2D6AB3;
  color: #fff;
  font-family: 'Tektur', sans-serif;
  font-size: 24px;
  padding: 12px 24px;
  width: 25%;
  height: 70px;
  border: 5px solid #17285E;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.catch_button:hover {
  background-color: #17285E;
}

.caught-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.caught_pokemon {
  font-size: 25px;
}

.caught_pokemon_image {
  display: flex;
  justify-content: center;
}

.shiny_pokemon {
  filter: hue-rotate(100deg);
  height: 300px;
  width: 300px;
}

.normal_pokemon {
  height: 300px;
  width: 300px;
}

.new {
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: red;
}

/* pokedex */

.pokedex_navbar {
  background-color: darkred;
  overflow: hidden;
}

.pokedex_navbar a {
  float: left;
  display: block;
  color: #FFCC01;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  padding-left: 100px;
  transition: color 0.3s ease;
}

.pokedex_navbar a:hover {
  color: white;
}

.red_top {
  background-color: darkred;
  width: 7%;
  height: 5%;
}

.red {
  background-color: darkred;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.pokedex-title {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 5%;
  margin-left: 5%;
  background-color: white;
  text-transform: uppercase;
  color: #FFCC01;
  text-shadow: 5px 0 #2D6AB3, -5px 0 #2D6AB3, 0 5px #2D6AB3, 0 -5px #2D6AB3, 5px 5px #2D6AB3, -5px -5px #2D6AB3, -5px 5px #2D6AB3, 5px -5px #2D6AB3;
  font-size: 80px;
  font-family: 'Tektur', sans-serif;
  padding-top: 1%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.dex-container {
  display: flex;
  justify-content: center;
  background-color: #fff;
  margin-right: 5%;
  margin-left: 5%;
  overflow-y: scroll;
  max-height: 70%;
  border-bottom-left-radius: 20px; 
  border-bottom-right-radius: 20px; 
}

.pokemon-list {
  width: 65%;
  list-style: none;
  padding: 10%;
}

.pokemon-item {
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  text-transform: uppercase;
  font-family: 'Tektur', sans-serif;
  background-color: grey;
}

.pokemon-name {
  font-size: 30px;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: 15px
}

.pokemon-info {
  font-size: 25px;
  margin: 20px;
}