{% extends 'main/reg_base.html' %}
{% block region %}PALDEA{% endblock %}


{% block body %}
<div>
    <form method="post" action="{% url 'paldea' r.name %}">
        {% csrf_token %}
        <div class="catch-container">
            <button type="submit">CATCH</button>
        </div>
    </form>
</div>

{% if result|slice:":5" == "shiny" %}
<div class="caught-container">
    <p>{{ result|upper }}</p>
</div>

{% elif result %}

<div class="caught-container">
    <p>{{ result }}</p>
</div>

{% endif %}


{% endblock %}