<html>

<head>
    <title>Pokemon Shiny Hunting Simulator</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/styles.css' %}">
</head>

<body>
  <div class="tektur">
    <div class="pokedex_navbar">
      <a href="/pokedex/kanto/">Kanto</a>
      <a href="/pokedex/johto/">Johto</a>
      <a href="/pokedex/hoenn/">Hoenn</a>
      <a href="/pokedex/sinnoh/">Sinnoh</a>
      <a href="/pokedex/unova/">Unova</a>
      <a href="/pokedex/kalos/">Kalos</a>
      <a href="/pokedex/alola/">Alola</a>
      <a href="/pokedex/galar/">Galar</a>
      <a href="/pokedex/paldea/">Paldea</a>
      <a href="/choosedex">Exit</a>
    </div>
    {% block body %}
    {% endblock %}
  </div>
</body>
</html>