<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pokemon Shiny Hunting Simulator</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'main/styles.css' %}">
</head>
<body>
  <div class="home">
    <div class="container">
      <div class="heading">
        POKEMON SHINY HUNTING SIMULATOR
      </div>
    </div>

    <div class="button-container">
      <button class="main-buttons">
        <a href="/regions" style="color:#fff">
          <span class="button-text">LOGIN</span>
        </a>
      </button>
    </div>

    <div class="button-container">
      <button class="main-buttons">
        <span class="button-text">REGISTER</span>
      </button>
    </div>

    <div class="button-container">
      <button class="main-buttons">
        <span class="button-text">REGISTER</span>
      </button>
    </div>
  </div>
<!-- {% load static %}
  <div>
    <img src="{% static 'main/pokedex.png' %}" alt="Image" />
  </div> -->
</body>

