<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="static/stylesheet.css"> -->
  <title>Pokemon Shiny Hunting Simulator</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'main/styles.css' %}">
</head>
<body>
  <div class="tektur">
    <div class="back-button">
      <a href="/" style="color:#17285E">
        BACK
      </a>
    </div>
  
    <div class="container">
      <div class="region_heading">
        CHOOSE A REGION
      </div>
    </div>
  
  
    <div class="button-container">
      <button class="region_button">
        <a href="/kanto/kanto" style="color:#fff">
          <span class="region_button-text">KANTO</span>
        </a>
      </button>
  
      <button class="region_button">
        <a href="/johto/johto" style="color:#fff">
          <span class="region_button-text">JOHTO</span>
        </a>
      </button>
  
      <button class="region_button">
        <a href="/hoenn/hoenn" style="color:#fff">
          <span class="region_button-text">HOENN</span>
        </a>
      </button>
    </div>
  
  
    <div class="button-container">
      <button class="region_button">
        <a href="/sinnoh/sinnoh" style="color:#fff">
          <span class="region_button-text">SINNOH</span>
        </a>
      </button>
  
      <button class="region_button">
        <a href="/unova/unova" style="color:#fff">
          <span class="region_button-text">UNOVA</span>
        </a>
      </button>

      <button class="region_button">
        <a href="/kalos/kalos" style="color:#fff">
          <span class="region_button-text">KALOS</span>
        </a>
      </button>
    </div>
  
  
    <div class="button-container">
      <button class="region_button">
        <a href="/alola/alola" style="color:#fff">
          <span class="region_button-text">ALOLA</span>
        </a>
      </button>
  
      <button class="region_button">
        <a href="/galar/galar" style="color:#fff">
          <span class="region_button-text">GALAR</span>
        </a>
      </button>

      <button class="region_button">
        <a href="/paldea/paldea" style="color:#fff">
          <span class="region_button-text">PALDEA</span>
        </a>
      </button>
    </div>
  </div>
</body>



